<nav>
    <div class="padding">
        <div id="nav-icon">
            <div id="nav-toggle"></div>
        </div>
        <div id="logo">logo</div>
        <ul id="navul">
            <li><a href="/">Home</a></li>
            <li><a href="/upload">Upload</a></li>
            <li><a href="/music">Music</a></li>
            <li><a href="/show">Show</a></li>

            <li><a href="/player">player</a></li>
            <li><a href="/control">control</a></li>

            <li><a href="/video">Video</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>
</nav>