<link rel="stylesheet" href="/css/home.css" type="text/css" media="all" />

<header></header>
<section class="conversations">
    <div class="contenar">
        <div class="con">
            <div class="img icon">
                <img height="40" width="40" src="/img/icon/profile.svg" alt="profile Image">
            </div>
            <div class="name">Naru pala</div>
        </div>
    </div>
</section>
<section class="chat-layout hide">
    <div class="inputs">
        <div>
            <div id="msgContent"></div>
        </div>
        <form id="msg_form" method="">
            <input id="messege" type="text" placeholder="Type a messege" />
            <input type="submit" id="send">
        </form>
    </div>
</section>
<footer></footer>
<script src="/script/home.js" type="text/javascript" charset="utf-8"></script>