<link rel="stylesheet" href="/css/home.css" type="text/css" media="all" />

<section class="conversations">
    <div class="contenar">
        
    </div>

</section>

<section class="chat-layout hide">
    <div class="inputs">
        <div>
            <div id="msgContent"></div>
        </div>
        <form id="msg_form" method="">
            <input id="messege" type="text" placeholder="Type a messege" />
            <input type="submit" id="send">
        </form>
    </div>
</section>
<script src="/script/home.js" type="text/javascript" charset="utf-8"></script>