@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}


.error{
    margin: 10px 0;
    padding: 12px;
    background: #ffd4d4;
    color: #d8222c;
    border: 1px solid #d8222c75;
    border-radius: 3px;
}

